/* Add here all your CSS customizations */
.ribbon {
    z-index:99;
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
    /*border:solid 1px #000; */
  }
  .ribbon::before,
  .ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #2980b9;
  }
  .ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 3px 0;
    background-color: #3498db;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    color: #fff;
    font: 700 18px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-transform: uppercase;
    text-align: center;
    margin-top:50px;
  }
  
  .ribbon span b{
  }
  
  /* top left*/
  .ribbon-top-left {
    /*top: -5px;
    left: -5px;*/
  }
  .ribbon-top-left::before,
  .ribbon-top-left::after {
    border-color: transparent;
  }
  .ribbon-top-left::before {
    top: 0;
    right: 0;
  }
  .ribbon-top-left::after {
    bottom: 0;
    left: 0;
  }
  .ribbon-top-left span {
    right: 5px;
    top: -10px;
    transform: rotate(-45deg);
  }
  
  /* top right*/
  .ribbon-top-right {
    top: -10px;
    right: -10px;
  }
  .ribbon-top-right::before,
  .ribbon-top-right::after {
    border-top-color: transparent;
    border-right-color: transparent;
  }
  .ribbon-top-right::before {
    top: 0;
    left: 0;
  }
  .ribbon-top-right::after {
    bottom: 0;
    right: 0;
  }
  .ribbon-top-right span {
    left: -25px;
    top: 30px;
    transform: rotate(45deg);
  }
  
  /* bottom left*/
  .ribbon-bottom-left {
    bottom: -10px;
    left: -10px;
  }
  .ribbon-bottom-left::before,
  .ribbon-bottom-left::after {
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  .ribbon-bottom-left::before {
    bottom: 0;
    right: 0;
  }
  .ribbon-bottom-left::after {
    top: 0;
    left: 0;
  }
  .ribbon-bottom-left span {
    right: -25px;
    bottom: 30px;
    transform: rotate(225deg);
  }
  
  /* bottom right*/
  .ribbon-bottom-right {
    bottom: -10px;
    right: -10px;
  }
  .ribbon-bottom-right::before,
  .ribbon-bottom-right::after {
    border-bottom-color: transparent;
    border-right-color: transparent;
  }
  .ribbon-bottom-right::before {
    bottom: 0;
    left: 0;
  }
  .ribbon-bottom-right::after {
    top: 0;
    right: 0;
  }
  .ribbon-bottom-right span {
    left: -25px;
    bottom: 30px;
    transform: rotate(-225deg);
  }
  .ribbon-success{
    background-color: #28a745 !important;
  }
  .ribbon-danger{
    background-color: #e74c3c !important;
  }
  .ribbon-warning{
    background-color: #f5ab35 !important;
  }
  .ribbon-info{
    background-color: #3498db !important;
  }
  .ribbon-ended{
    background-color: #a3a3a3 !important;
  }
  .btn-outline-ended{
    background-color: #a3a3a3 !important;
    border: 1px solid #a3a3a3 !important;
  }

  .btn-coin{
    border: solid #6c757d 1px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius:5px !important;
    margin-left: -10px;
    margin-right: -10px;
    text-decoration: inherit !important;
    font-size: 11px;
    text-decoration: none !important;
  }

  .btn-coint-view{
      padding-right: 30px !important;
      padding-left: 30px !important;
  }

  .btn-coin-success{
    border: solid #28a745 2px;
    background-color: #fff;
  }

  .btn-coin-success:hover{
    border: solid #28a745 2px;
    background-color: #28a745;
    color: #fff;
  }

  .btn-coin-warning{
    border: solid #f5ab35 1px;
    background-color: #f5ab35;

  }

  .btn-coin-ended{
    border: solid #a7a7a7 2px;
    background-color: #fff;
  }

  .btn-coin-ended:hover{
    border: solid #a7a7a7 2px;
    background-color: #a7a7a7;
    color: #fff;
  }